# Node
node_modules/
dist/
build/
*.log

# Local environment
apps/api/.env
.env.local
.env.development
.dev/
tmp/
*.pid
keys/*

# OS files
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/
*.swp
.turbo/